[Unit]
Description=__NAME__ in Docker container running as a service
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3
RestartSec=60s
Type=simple
NotifyAccess=all
ExecStart=-/usr/bin/systemdock -a start -n __NAME__
ExecStop=/usr/bin/systemdock -a stop -n __NAME__

[Install]
WantedBy=multi-user.target
